<h1 class="h4">Toplantıya Katılım Listesi</h1>
<table class="table tablebordered">
    <head>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
            <td></td>
        </tr>
    </head>
    <tbody>
        <tr>
            <td>Uğur Akbaş</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" ref="#">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Berk Akbaş</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>